# Predicting Energy Consuption Machine Learning Project

In [1]:
##  import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
## Load the train set
train_set=pd.read_csv("train_energy_data.csv")
train_set.head()

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
0,Residential,7063,76,10,29.84,Weekday,2713.95
1,Commercial,44372,66,45,16.72,Weekday,5744.99
2,Industrial,19255,37,17,14.30,Weekend,4101.24
3,Residential,13265,14,41,32.82,Weekday,3009.14
4,Commercial,13375,26,18,11.92,Weekday,3279.17

In [10]:
train_set.sample(10)

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
477,Commercial,39059,57,47,28.74,Weekend,5319.27
454,Industrial,12503,59,3,12.89,Weekend,3710.69
782,Industrial,21616,26,48,32.40,Weekday,4688.81
684,Residential,39163,12,44,10.73,Weekday,4454.51
994,Residential,26212,35,1,23.30,Weekend,3064.11
524,Industrial,1114,14,40,12.59,Weekend,3432.74
451,Commercial,22020,43,4,28.28,Weekday,3519.59
933,Commercial,31980,2,33,30.43,Weekend,4126.84
523,Residential,22292,25,43,24.55,Weekend,3601.83
932,Commercial,42152,47,21,27.70,Weekend,4859.08

In [14]:
## check the type of train set
type(train_set)

pandas.core.frame.DataFrame

In [13]:
## check the features of dataset
train_set.keys()

Index(['Building Type', 'Square Footage', 'Number of Occupants',
       'Appliances Used', 'Average Temperature', 'Day of Week',
       'Energy Consumption'],
      dtype='object')

In [16]:
## Get the information of train set
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Building Type        1000 non-null   object
 1   Square Footage       1000 non-null   int64
 2   Number of Occupants  1000 non-null   int64
 3   Appliances Used      1000 non-null   int64
 4   Average Temperature  1000 non-null   float64
 5   Day of Week          1000 non-null   object
 6   Energy Consumption   1000 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 54.8+ KB

In [21]:
## check the the value counts of the  categorical attributes

In [22]:
train_set['Building Type'].value_counts()

Building Type
Residential    347
Commercial     336
Industrial     317
Name: count, dtype: int64

In [20]:
train_set['Day of Week'].value_counts()

Day of Week
Weekday    507
Weekend    493
Name: count, dtype: int64

In [27]:
## Summerizing the stat
train_set_describe=train_set.describe()
train_set_describe

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption
count,1000.000,1000.000000,1000.000000,1000.000000,1000.000000
mean,25462.388,48.372000,25.606000,22.611390,4166.252570
std,14294.554,29.061972,14.105166,7.139943,933.313064
min,560.000,1.000000,1.000000,10.050000,1683.950000
25%,13169.750,22.000000,13.000000,16.475000,3509.482500
50%,25477.000,47.000000,26.000000,22.815000,4175.730000
75%,37446.250,73.250000,38.000000,28.850000,4863.850000
max,49997.000,99.000000,49.000000,34.990000,6530.600000

In [28]:
## checking the missing values
train_set.isnull().sum()

Building Type          0
Square Footage         0
Number of Occupants    0
Appliances Used        0
Average Temperature    0
Day of Week            0
Energy Consumption     0
dtype: int64

## EDA (Explotary Data Analysis)

In [30]:
## check correlation  between independent features and dependent feature
train_set_correlation=train_set_describe.corr()
train_set_correlation

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption
Square Footage,1.000000,-0.386668,-0.428792,-0.445557,0.915955
Number of Occupants,-0.386668,1.000000,0.998921,0.997814,-0.406413
Appliances Used,-0.428792,0.998921,1.000000,0.999783,-0.442522
Average Temperature,-0.445557,0.997814,0.999783,1.000000,-0.453840
Energy Consumption,0.915955,-0.406413,-0.442522,-0.453840,1.000000