# Predicting Energy Consuption Machine Learning Project

In [1]:
##  import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
## Load the train set
train_set=pd.read_csv("train_energy_data.csv")
train_set.head()

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
0,Residential,7063,76,10,29.84,Weekday,2713.95
1,Commercial,44372,66,45,16.72,Weekday,5744.99
2,Industrial,19255,37,17,14.30,Weekend,4101.24
3,Residential,13265,14,41,32.82,Weekday,3009.14
4,Commercial,13375,26,18,11.92,Weekday,3279.17

In [10]:
train_set.sample(10)

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
477,Commercial,39059,57,47,28.74,Weekend,5319.27
454,Industrial,12503,59,3,12.89,Weekend,3710.69
782,Industrial,21616,26,48,32.40,Weekday,4688.81
684,Residential,39163,12,44,10.73,Weekday,4454.51
994,Residential,26212,35,1,23.30,Weekend,3064.11
524,Industrial,1114,14,40,12.59,Weekend,3432.74
451,Commercial,22020,43,4,28.28,Weekday,3519.59
933,Commercial,31980,2,33,30.43,Weekend,4126.84
523,Residential,22292,25,43,24.55,Weekend,3601.83
932,Commercial,42152,47,21,27.70,Weekend,4859.08